### Print HelloWorld

In [3]:
print("Hello")
print("hello")
10

Hello
hello

10

### Variables

In [15]:
a = 10
b = 20

sum = a + b 
print("sum")
print (sum)

sum
30

### Variables Naming

You can't Start with Digits

In [21]:
ab_1c = 50
_ss = 20
#12cc = 5

### Assigning Different type of data to a Variable

In [45]:
a = 10
a = 20
a="snfsjfn"
a

'snfsjfn'

In [49]:
a = "shambho"
print(type(a))
a = 40 
print(type(a))

<class 'str'>
<class 'int'>

### Python Numbers

In [61]:
a = 10
b = 3.4
c = 4 + 5j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

a = 10
print(id(a))
a = a + 1
print(id(a))

Range only from numbers [-5,256] will show same id else different if outside this range

In [71]:
a = 256
b = 256
print(id(a))
print(id(b))

140706506229520
140706506229520

In [73]:
a = -6
b = -6
print(id(a))
print(id(b))

2462746250384
2462746250544

In [75]:
a = 257
b = 257
print(id(a))
print(id(b))

2462746250544
2462746250672

### Arithmetic Operators

In [80]:
a = 10
b = 4
print(a + b)
print(a - b)

14
6

In [83]:
a * b

40

In [85]:
a / b # floating-point division

2.5

In [87]:
a // b # integer-point division

2

In [90]:
a ** b # exponentiation

10000

In [92]:
2 * 3 / 4

1.5

In [94]:
2 * 3 // 4

1

In [96]:
a % b # modulus operator

2

In [103]:
# simple interest
p = 100
r = 12
t = 2
#si = p * r * t //100
#si = t // 100 * r * p
si = (p * r * t) // 100 # use brackets to avoid confusion as this will perform first in priority
si

24

In [ ]:
# fah to celsius scale
f = 100 
c = (f - 32) * 5 / 9
print(c)
c = (f - 32) * 5 // 9
c

### Input

In [114]:
a = int(input())
print(type(a))

#b = '33'
#print(type(b))
#c = int (b)
#type(c)

4
<class 'int'>

In [4]:
# adding two numbers as string
a = input()
b = input()
print(type(a))
c = a + b
print(c)

54
32
<class 'str'>
5432

In [3]:
# adding two numbers using int 
a = int(input())
b = int(input())
print(type(a))
c = a + b
print(c)

55
65
<class 'int'>
120

In [8]:
# simple interest via taking input
p = int(input())
r = float(input())
t = float(input())
si = (p * r * t) / 100
print(si)

5656
2.36
2.5
333.704

In [16]:
# fah to celsius via taking input
f = float(input())
c = (f - 32) * 5 / 9
print(c)

24
-4.444444444444445

### END