In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('startup_funding.csv')
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [3]:
amount = data['AmountInUSD']
amount.head()

0    1,300,000
1          NaN
2          NaN
3      500,000
4      850,000
Name: AmountInUSD, dtype: object

In [4]:
amount.dropna(inplace = True)
amount.head()

0    1,300,000
3      500,000
4      850,000
5    1,000,000
6    2,600,000
Name: AmountInUSD, dtype: object

In [5]:
a1 = amount.str.replace(',','')
a1.head()

0    1300000
3     500000
4     850000
5    1000000
6    2600000
Name: AmountInUSD, dtype: object

In [6]:
a1[0]

'1300000'

In [9]:
a2 = pd.to_numeric(a1)
a2[0]

1300000

In [10]:
type(a2[0])

numpy.int64

In [13]:
pop_avg = a2.mean()
pop_min = a2.min()
pop_max = a2.max()
print('Average :',pop_avg,',Min :',pop_min,',Max :',pop_max)

Average : 12031073.099016393 ,Min : 16000 ,Max : 1400000000

In [23]:
sample_size = 100
population = a2
sample = population.sample(sample_size,random_state = 1)
sample.shape

(100,)

In [24]:
 #sampling Error = Parameter - Statistics

In [25]:
sample_avg = sample.mean()
sample_min = sample.min()
sample_max = sample.max()

In [26]:
print(pop_avg," ",sample_avg)
print(pop_min," ",sample_min)
print(pop_max," ",sample_max)

12031073.099016393   24592930.0
16000   18000
1400000000   1400000000

In [28]:
sampling_error_avg = pop_avg - sample_avg
sampling_error_min = pop_min - sample_min
sampling_error_max = pop_max - sample_max

In [30]:
print(sampling_error_avg)
print(sampling_error_min)
print(sampling_error_max)

-12561856.900983607
-2000
0

In [3]:
import pandas as pd
data = pd.read_csv('startup_funding.csv')
data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

IndexError: string index out of range